.secret_container{
        margin-top: 32px;
}
.secret_container>h2{
            font-size: 2vw;
                font-weight: 600;
                color: rgb(58, 58, 58);
                text-align: center;
                margin: 24px;
}
.item_container {
    width: 90vw;
    margin: 0px auto;
}

.item_card {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 16px;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.item_card>img{
    height: 6vw;
}
@media screen and (min-width: 768px) {.item_heading {
    width: 15vw;
}
}

.item_heading {
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(58, 58, 58);
    text-align: center;
    margin: 8px 0px;
}
.item_text{
        font-size: 1.25vw;
            font-weight: 400;
            color: rgb(58, 58, 58);
            text-align: center;
}
    @media screen and (max-width: 768px){ 
        .item_card>img {
                height: 10vw !important;
            }
        
            .item_text {
                font-size: 2.25vw !important;
        
            }
        
            .secret_container>h2 {
                font-size: 4vw;
                margin: 10px;
            }.secret_container>h2 {
                font-size: 4vw;
                font-weight: 600;
                color: rgb(58, 58, 58);
                text-align: center;
                margin: 10px;
            }.item_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .item_card {
        display: grid !important;
            align-items: center;
            justify-items: center !important;
    }
    }