

@media screen and (min-width: 1768px) {
    .item_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.item_container {
    width: 90vw;
    margin: 0px auto;
}

.item_card {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 16px;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.item_card>img {
    height: 6vw;
}

@media screen and (min-width: 1768px) {
    .item_heading {
        width: 15vw;
    }
}

.item_heading {
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(58, 58, 58);
    text-align: center;
    margin: 8px 0px;
}

.item_text {
    font-size: 1.25vw;
    font-weight: 400;
    color: rgb(58, 58, 58);
    text-align: center;
}


    .bttbMG:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }



    .bttbMG {
        position: absolute;
        height: 2vw;
        fill: white;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 200px;
        justify-self: flex-end;
        left: -25px;
        top: 50%;
    }



    .cVVDsC:hover {
        transform: scale(1.2);
    }



    .cVVDsC {

        position: absolute;
        height: 2vw;
        fill: white;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 200px;
        right: -25px;
        top: 50%;
    }


.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

.slick-prev,
.slick-next {

    position: absolute;
    top: 50%;
    display: block;
    height: 2vw !important;
    width: 2vw !important;

    transform: translate(0, 0);
    cursor: pointer !important;
    fill: white !important;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 200px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {


    height: 2vw !important;
    fill: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 200px;

    transform: scale(1.1) !important;

}
.slick-slide>div {
    margin: 0px 60px !important;
}