.explore-container {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 48px;
}

.explore-container>h1 {
    text-transform: capitalize;
    font-size: 2.2vw;
    font-weight: 600;
    color: rgb(10, 158, 136)
}

.explore-card-container {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 64px;
}

.explore-card-container>a {
    color: inherit;
    text-decoration: none;
}

.explore-card {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 9vw;
    transition: transform 0.5s ease-in-out;
}

.explore-card:hover {
    transform: scale(1.1);
}

.explore-card>img {
    height: 5vw;
}

.explore-card>p {
    width: 10vw;
    font-size: 1.2vw;
    font-weight: 600;
    color: rgb(58, 58, 58);
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .explore-container>h1 {
           
            font-size: 4.2vw;
            
        }
    .explore-container {

        margin-top: 28px;
    }

    .explore-card-container {

        margin-top: 24px;
    }
        .explore-card{
            height: 18vw;
        }
        .explore-card>img{
                width: 10vw;
                    font-size: 2.5vw;
                    font-weight: 400;
        }
        .explore-card>p{
            height: 10vw;
            font-size: 1.5vw;
        }
        .divider:nth-child(2n){
                height: 19vw;
                    width: 1px;
                    background-color: rgba(58, 58, 58, 0.2);
                    align-self: flex-end;
        }
        .divider2:nth-last-child(1){
                height: 1px;
                    width: 27vw;
                    background-color: rgba(58, 58, 58, 0.2);
                    align-self: flex-end;
        }
}