.mobile-menu {
    right: -200%;
    transition: 0.5s ease-in-out;
    background-color: #fff !important;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul li ul {
    display: none;
}

.mobile-menu ul li:hover ul {
    display: block;
}
.active{
    background-color: #000;
}
